{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 0,
    "comma-dangle": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "extends": [
    "airbnb-base"
  ]
}
